{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}
<style>
    h4 {
        text-align: center;
    }
</style>
<h4>Modifier categorie </h4>
<div class="container">

    {{ include('categories/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('app_categories_index') }}">retour à la liste</a>

    {{ include('categories/_delete_form.html.twig') }}</div>
{% endblock %}
